/*escapes browser defaults*/
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }

  html {
    font-size: 10px;
  }
/*responsive images*/
  img {
    width: 100%;
    height: auto;
  }

.header {
    background-image: linear-gradient(to right, #355c66, #a8d8e3);
    width: 100%;
    display: inline-flex;
    justify-content: space-between;
    align-items: center;
}

.socials {
    display: inline-flex;
    flex-direction: column;
    margin: 5rem 0 0 0;
    float: left;
}

.social-icon {
    margin: 1rem 0;
}

.progress-link {
    text-decoration: none;
    color: inherit;
}

.follow {
    transform: rotate(90deg);
    margin-bottom: 2rem;
}

.header-content {
    background-image: url(./hiker-in-mountains.jpeg);
    background-size: 100%;
    background-repeat: no-repeat;
    background-position: 50% 30%; 
    text-align: center;
    color: #000;
    padding: 10rem 5rem;
    margin: auto;
    font-size: 1.6rem;
    box-shadow: inset 0 0 3rem 2rem #355c66;
}

.progress {
    display: inline-flex;
    flex-direction: column;
    margin: -5rem 0 0 0;
    float: right;
    height: 15rem;
}

.socials, .progress {
    font-size: 1.4rem;
    color: #fff;
}

.social-icon:hover {
    color: gold;
    opacity: 0.7;
    cursor: pointer;
}

.hdr-detail {
    color: gold;
    font-weight: bold;
    font-size: 1.5rem;
    letter-spacing: .2rem;
}

.logo {
    display: inline-block;
    font-size: 2.4rem;
    font-weight: bold;
    color: #fff;
    margin: 2rem;
    cursor: pointer;
}

.logo-link {
    text-decoration: none;
    color: inherit;
}

.navbar {
    display: inline-flex;
    justify-content: center;
    width: 50%;
    font-size: 1.6rem;
}

.navlink {
    margin: 0 1.5rem;
    color: #fff;
    text-decoration: none;
}

.navlink:hover {
    color: gold;
    opacity: 0.7;
}

.acc {
    display: inline-block;
    margin: 2rem;
    font-size: 1.6rem;
    color: #fff;
    cursor: pointer;
}

.acc:hover {
    color: gold;
    opacity: 0.7;
}

.blurb {
    margin-top: -6.5rem;
    display: inline-block;
    width: 50%;
}

.blurb2 {
    margin-top: -6.5rem;
    width: 50%;
    float: right;
    margin-right: 10rem;
}

.blurb3 {
    margin-top: -1.8rem;
    display: inline-block;
    width: 50%;
    padding-bottom: 5rem;
}

.horiz {
    display: inline-block;
    border: none;
    height: 1px;
    background-color: gold;
    width: 3%;
    margin-bottom: .3rem;
    margin-right: .5rem;
    margin-left: 10rem;
}

.hdr-detail {
    color: gold;
    font-size: 1.5rem;
    letter-spacing: .2rem;
    display: inline-block;
    margin-left: 0.5rem;
}

.one, .two, .three {
    background: #355c66;
    padding: 3rem;
}

.oh1, .oh2, .oh3 { 
    font-size: 10rem;
    font-weight: bold;
    color: darkgray;
    opacity: .2;
    margin-left: 5rem;
}

.oh2 {
    margin-left: 45.5%;
    margin-top: 5rem;
}

.oh3 {
    margin-top: 10rem;
    margin-bottom: -5rem;
}

.info {
    color: white;
    max-width: 50rem;
    margin-bottom: 2rem;
    margin: 2rem auto auto 10rem;
    font-size: 1.5rem;
}

.read-more {
    color: gold;
    font-size: 1.4rem;
    cursor: pointer;
    margin-left: 10rem;
}

.img1 {
    height: 27.5%;
    width: 17.5%;
    display: inline-block;
    position: absolute;
    top: 60rem;
    margin-left: 5rem;
    margin-top: -25rem;
}

.img2 {
    height: 27.5%;
    width: 17.5%;
    display: inline-block;
    position: absolute;
    top: 67rem;
    margin-left: 20rem;
}

.img3 {
    height: 27.5%;
    width: 17.5%;
    display: inline-block;
    position: absolute;
    top: 95rem;
    margin-left: 5rem;
}

footer {
    background-color: #355c66;
    color: #fff;
    padding: 2rem;
    font-size: 1.4rem;
    display: inline-flex;
    width: 100%;
    line-height: 200%;
    justify-content: space-between;
}

.footer1 {
    width: 27.5%;
    margin-right: 10rem;
    margin-left: 15rem;
}

.footer2 {
    width: 25%;
    margin-right: 10rem;
    margin-left: 10rem;
    flex-direction: column;
}

.footer3 {
    width: 25%;
    margin-left: 10rem;
    margin-right: 0;
    flex-direction: column;
}

.copyright {
    margin-top: 6rem;
    font-size: 1rem;
    color: darkgray;
}

.footer-link {
    text-decoration: none;
    color: #fff;
    width: 100%;
    display: block;
}

.footer-hdr {
    color: gold;
    font-weight: bold;
    font-size: 1.6rem;
}